@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  max-width: 610px;
  max-height: 600px;
  border-radius: 10px;
  padding: 25px;
  margin: auto;
}

h1 {
  background: rgb(44, 62, 80);
  background: linear-gradient(
    130deg,
    rgba(44, 62, 80, 1) 0%,
    rgba(76, 161, 175, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
}

h2 {
  text-align: left;
  color: #202124;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2em;
}

input,
button,
.remove-list {
  position: relative;
  right: 40px;
  border: none;
  font-size: 1.5em;
  padding: 0.5rem;
}

input {
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
  border-bottom: 1px solid rgba(76, 161, 175, 1);
}

input:focus::placeholder {
  color: rgba(76, 161, 175, 1);
}

.add-button {
  right: 25px;
}

button,
.remove-list {
  background: white;
  color: #202124;
  cursor: pointer;
  transition: all 0.2s ease;
}

.remove-list {
  color: #202124;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.remove-list {
  position: absolute;
  bottom: 417px;
  right: 50px;
}

button:hover {
  background: #4ca1af;
  color: white;
}

ul {
  margin-bottom: 0;
  margin-top: 15px;
  padding-top: 8px;
  background: white;
  width: 493px;
  height: 340px;
  overflow: auto;
}

ul::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}

.element {
  position: relative;
  height: fit-content;
  width: 390px;
  bottom: 12px;
  right: 40px;
  margin-left: 4px;
  padding: 0.5rem;
  list-style-type: none;
  color: black;
  text-align: left;
  font-size: 26px;
  line-height: 35px;
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
}

#checked {
  position: absolute;
  left: 380px;
  top: 0%;
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

#checked:hover {
  color: #4ca1af;
}

#remove {
  position: absolute;
  left: 425px;
  top: 0%;
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
}

#remove:hover {
  color: #4ca1af;
}

h3 {
  margin: 0;
  padding-top: 15px;
  color: #202124;
  font-family: "Quicksand", sans-serif;
  font-size: 1em;
  border-top: 1px solid black;
}

