.container {
    margin: auto;
    max-width: 700px;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style: none;
    margin: 0 0 1rem 0;
    padding: 0;
}

h1 {
    color: white;
    background-color: darkslategray;
}

.item {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinha o texto à esquerda */
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 1.2rem;

}

.card {
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
    align-items: center;
    overflow-wrap: anywhere; /*Quebra a linha de texto*/
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    border: none;
    background-color: darkslategray;
    color: white;
    border-radius: 0.1rem;
}

.form-addButton-modal {
    background-color: darkslategray;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.1rem;
}

.form-input {
    border: none;
    font-size: 1rem;
    padding: 0.2rem;
    outline: none;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.hideModal {
    display: none;
}

.card-modal {
    padding: 1rem;
    background-color: white
}

.form-modal {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttonsAction {
    display: flex;
    align-items: center;    
    gap: 1rem;
}

.buttonDone {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 0.1rem;
    flex-shrink: 0; /* Evita que os botões encolham para se ajustar ao conteúdo */
}

.buttonDelete {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 0.1rem;
    flex-shrink: 0; /* Evita que os botões encolham para se ajustar ao conteúdo */
}

